Header{
    background-color: rgb(238, 19, 19);
    text-align: right;
    font-size: large;
    padding: 10px 20px;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #969090;
  }
  
  nav li {
    display: inline-block;
  }
  
  nav li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
  }
  
  nav li a:hover {
    background-color: #ddd;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: #333;
    padding: 10px 20px;
    display: block;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  